*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.css-hip9hq-MuiPaper-root-MuiAppBar-root {
  box-shadow: none !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important; 

}
.boards{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.css-n70jm4-MuiInputBase-root-MuiInput-root-MuiSelect-root {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif; 
    font-weight: none; 
     font-size: none;
     box-sizing: border-box;
    

}
.board-item {
  width: 300px;
  height: 120px; 
  background: rgb(0,103,163);
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none; 
  margin-bottom: 10px; 
  color: white;
  margin-top: 30px ;
  border-radius: 8px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif; 
}
.span {
  width: 300px;
  height: 120px; 
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none; 
  margin-bottom: 10px; 
  background-color: rgb(241,242,244);
  margin-top: 40px !important;
  border-radius: 8px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif; 
}
.create-list-button {
  width: 300px;
  height: 30px; 
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none; 
  margin-bottom: 10px; 
  background-color: rgb(241,242,244);
  margin-top: 40px !important;
  border-radius: 8px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif; 
}

.board-item a {
  text-decoration: none;
}


.board-item a,
.board-item a > div {
  color: white;
  text-align: center;
}
li{
  list-style: none;
}

.listadder{
  margin-top: 40px;
}